<% include ../includes/header.ejs %>
    <title><%= title %></title>
    <link href="/stylesheets/ta03.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <% include ../includes/nav.ejs %>
    <div class="container">
      <h1>Pokemon</h1>
        <% for(var i=0; i<data.length; i++) {%>
            <div class="container">
              <ul class="cardContainer">
                <li><b><%= data[i].name %></b></li>
              </ul>
          </div>
        <% } %>
    </div>
    <!-- Pagination button generation -->
    <form action="/prove09/add" method="POST">
        <input type="hidden" name="items" value="<%=data.numPage%>">
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
    <% if(numPages > 0){%>
        <form action="/prove09/sub" method="POST">
            <input type="hidden" name="items" value="<%=data.numPage%>">
            <button type="submit" class="btn btn-primary">Last</button>
        </form>
    <% }%>
    
  </body>
</html>